[user]
    name = jeanar
    email = jean.arhancetebehere@iutbayonne.univ-pau.fr
[core]
    editor = nano
    whitespace = off
    excludesfile = ~/.gitignore
[advice]
    statusuoption = false
[color]
    ui = true
[push]
    default = simple